<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="assets/fontawesome/css/all.css">
    <title>To Do App</title>
</head>

<body>
    <div class="container">
        <h1>To Do List</h1>
        <section class="formContainer">
            <form action="/addtask" method="POST">
                <input type="text" name="task" class="taskBox"></input>
                <section>
                    <button class="btn" type="submit"><span class ="btnText"> Add Task</span> </button>
                </section>
            </form>
        </section>

        <section class="tasks">
            <ul>
                <% for(let i=0; i < taskList.length; i++) {%>

                    <li class="taskItem">
                        <% if(taskList[i].done===true) {%>
                            <span>
                                <del>
                                    <%= taskList[i].task %>
                                </del>
                            </span>
                            <%} else {%>
                                <span>
                                    <%= taskList[i].task %>
                                </span>
                                <% } %>
                                    <span>
                                        <i class="fa-solid fa-check" data-tooltip="mark done"></i>
                                        <i class="fa-solid fa-rotate-left" data-tooltip="mark undone"></i>
                                        <i class="fa-solid fa-xmark" data-tooltip="delete task"></i>
                                    </span>
                    </li>


                    <%}%>
                        <button class="btn reset"><span class ="btnText"> Clear All </span> </button>
            </ul>
                            

        </section>
    </div>



    <script src="js/main.js"></script>
</body>

</html>